

@section Styles {
    <style>
        body {
            background: black !important;
        }

        video, canvas {
            margin-left: 230px;
            margin-top: 30px;
            position: absolute;
            width: 400px !important;
            height: 400px !important;
        }

        #video,
        #canvas {
            -moz-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
            filter: FlipH;
        }

        .message {
            color: white;
        }
    </style>
}

<div class="demo-frame">
    <div class="demo-container">
        <video id="previewTake" width="400" height="400"></video>
        <canvas id="snapCanvas" width="400" height="400" style="visibility:hidden;"></canvas>
        <canvas id="canvas" width="400" height="400"></canvas>
    </div>
    <div class="text-center message"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/trackingjs")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <script type="text/javascript">
        var app = new Vue({
  el: '#app',
  data: {
    scanner: null,
    activeCameraId: null,
    cameras: [],
    scans: []
  },
  mounted: function () {
    var self = this;
    self.scanner = new Instascan.Scanner({ video: document.getElementById('previewTake'), scanPeriod: 3 });

      var video = document.getElementById('previewTake');
      var canvas = document.getElementById('canvas');
      var snapCanvas = document.getElementById('snapCanvas');
      var context = canvas.getContext('2d');
      var snapContext = snapCanvas.getContext('2d');
      var tracker = new tracking.ObjectTracker('face');
      var stopRequestAnimationFrame = false;
      tracker.setInitialScale(4);
      tracker.setStepSize(3);
      tracker.setEdgesDensity(0.1);
      const trackingTask = tracking.track('#previewTake', tracker, { camera: true });
      trackingTask.run();
      var dataURI = "";

        var stringArray = new Array();
        var i = 0;
        var timer = 0;

        tracker.on('track', function(event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        event.data.forEach(function(rect) {
        if(stopRequestAnimationFrame == false && timer == 0) {
                  timer = 1;
                  snapContext.drawImage(video, rect.x + 50, rect.y -80, 300, 300, 0, 0, 300, 300);
                  dataURI = snapCanvas.toDataURL('image/png');

                  $('.message').text(i + " photos made out of 10");
                  setTimeout(function() { timer = 0; }, 500);

                if(i > 9) {
                    var postData = { values: stringArray, name: '@ViewBag.Name', surname: '@ViewBag.Surname', email: '@ViewBag.Email' };

                    stopRequestAnimationFrame = true;
                    $.ajax({
                      url: "/Account/RegisterBitmap",
                      data: postData,
                      traditional: true,
                      type: 'post',
                      success: function(data) {
                        alert("@ViewBag.Name Camera trained. Registered. Please login now.");
                        window.location.href='/Account';
                      },
                      error: function() {
                        alert('error');
                      }
                    });
                } else {
                    stringArray[i] = dataURI;
                    i++;
                    setTimeout(function () {
                        trackingTask.stop();
                        trackingTask.run();
                    }, 50);
                }
            }
            trackingTask.stop();
        });
      });

    Instascan.Camera.getCameras().then(function (cameras) {
      self.cameras = cameras;
      if (cameras.length > 0) {
        self.activeCameraId = cameras[0].id;
        self.scanner.start(cameras[0]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
  },
  methods: {
    formatName: function (name) {
      return name || '(unknown)';
    },
    selectCamera: function (camera) {
      this.activeCameraId = camera.id;
      this.scanner.start(camera);
    }
  }
});
    </script>
}