@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/datatables")
}

<div class="container-fluid">
    <div class="col-12 mt-3 d-block d-lg-none">
        <div class="ai">
            @ViewBag.INFOAI
        </div>
    </div>
    <div class="row p-5 mt-0 mt-lg-5">
        <div class="col-12 col-md-12 col-lg-4 px-0 px-sm-0 px-md-0 px-lg-0 px-xl-5">
            <div class="userInfo text-center">
                LOGGED IN AS:<br />
                <strong>@ViewBag.INFOUserName @ViewBag.INFOSurName</strong><br />
                <i class="far fa-user-circle"></i>
            </div>
                <div class="row mt-3">
                    <nav class="navbar navbar-expand-md navbar-light w-100">
                        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="row mt-4 mx-auto">
                                <div class="col-6 col-xs-6 mb-4 buttons">
                                    <button class="w-100 dashboard hvr-float-shadow" style="background: #E06E69;" onclick="goToPage('Search');">
                                        <i class="fa fa-search"></i><br />
                                        <strong>SEARCH</strong><br />
                                        for a book
                                    </button>
                                </div>
                                <div class="col-6 col-xs-6 mb-4 buttons">
                                    <button class="w-100 dashboard hvr-float-shadow" style="background: #493C85;" onclick="goToPage('Take');">
                                        <i class="fa fa-book"></i><br />
                                        <strong>TAKE</strong><br />
                                        a book
                                    </button>
                                </div>
                                <div class="col-6 mb-4 buttons">
                                    <button class="w-100 dashboard hvr-float-shadow" style="background:#728099;" onclick="goToPage('Return');">
                                        <i class="fa fa-redo"></i><br />
                                        <strong>RETURN</strong><br />
                                        a book
                                    </button>
                                </div>
                                <div class="col-6 mb-4 buttons">
                                    <button class="w-100 dashboard hvr-float-shadow" style="background:#75624C;" onclick="goToPage('History');">
                                        <i class="fa fa-history"></i><br />
                                        <strong>HISTORY</strong><br />
                                        of your readings
                                    </button>
                                </div>
                                <div class="col-6 mb-4 buttons">
                                    <button class="w-100 dashboard hvr-float-shadow" style="background:#A6CCB3;" onclick="goToPage('Settings');">
                                        <i class="fa fa-cog"></i><br />
                                        <strong>SETTINGS</strong>
                                    </button>
                                </div>
                                <div class="col-6 mb-4 buttons">
                                    <button class="w-100 dashboard hvr-float-shadow" style="background:#9D97B9;" onclick="goToPage('Logout');">
                                        <i class="fa fa-sign-out"></i><br />
                                        <strong>LOGOUT</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="ai d-none d-lg-block w-75 mx-auto">
                    @ViewBag.INFOAI
                </div>
                <h1 class="mt-4 text-center mb-5">@ViewBag.PageTitle</h1>
                @RenderBody()
            </div>
        </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/datatables")
}
@RenderSection("Scripts", required: false)

